body {
    font-size: 16px;
  }
  h1 {
      width: 65px;
      color: orange;
      font-family: sans-serif;
  }
  ul {
      background-color: aqua;
  }
  .teste {
      background-color: rgb(236, 100, 100);
  }
  p {
      font-weight: 600px;
      font-size: 3em;
      text-align: center;
  }
  ul {
      font-style: italic;
      line-height: 25px;
      text-decoration: underline;
  }
  #amarelo {
      background-color: yellow;
  }
  #vermelho {
      background-color: red;
  }
  #marrom {
      background-color: #964b00;
  }