/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 20px;
}

article {
  font-size: xx-large;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: xx-large;
}

img {
    max-width: 100%;
}

main {
  text-align: center;
}

section {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure {
    margin: 0;
}

figcaption {
  font-size: .8em;
  margin-bottom: 50px;
}

@media screen and (min-width: 800px) {
  body {
    background-color: rgb(206, 108, 108);
    margin: 30px;
  }

  article {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
  }

  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  section img {
    width: 300px;
    margin: 20px;
  }
}

@media screen and (min-width: 1268px) {
  body {
    background-color: rgb(210, 255, 240);
    margin: 50px;
  }

  article {
    font-size: x-large;
    display: flex;
    flex-direction: column;
  }

  article p {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 90%;
    align-self: center;
  }

  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  section figure {
    margin: 15px;
  }
}
